body {
    background-color: #eee !important;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif
}

a{
    text-decoration: none;
}

ol ul {
    list-style: none;
}

body,ul,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form{
    margin:0;
    padding:0;
}

/*头部*/

.header {
    margin: 0;
    padding: 0;
    height: 60px;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
}

.header-wrap {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    line-height: 60px;
    height: 60px;
}


/*logo*/

.header .logo {
    width: 109px;
    display: inline-block;
    margin-right: 60px;
    height: 60px;
    float: left;
}

.header .logo img {
    float: left;
    margin-top: 10px;
    width: 109px;
    height: 40px;
}


/*nav*/

.header nav .header-nav {
    margin: 0;
}

.header nav {
    height: 60px;
    display: inline-block;
    float: left;
}

.header nav li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    position: relative;
    font-size: 14px;
    margin-right: 50px;
    cursor: pointer;
    height: 60px;
    float: left;
}

.header nav a {
    color: #333;
}

.header nav a:hover {
    color: #35b558;
}

.header nav li:hover {
    color: #35b558;
}


/*.header nav li i .arrow-icon{
	margin-bottom: 2px;
}
.arrow-icon{
	width: 8px;
	height: 8px;
	border-top: 1px solid #c1c1c1;
	border-left: 1px solid #c1c1c1;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}*/

.header nav .drop-down .drop-down-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    font-size: 12px;
    color: #666;
    width: 280px;
    z-index: 10001;
}

.header .drop-down .drop-down-menu a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.header .drop-down .drop-down-menu h3 {
    font-size: 12px;
    margin: 10px 0;
    padding: 0 15px;
    background-color: #fafafa;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
}

.header nav .drop-down:hover .drop-down-menu {
    display: block;
}


/*nav end*/

.header .searchBox{
    width: 850px;
    height: 59px;
    line-height: 59px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.header .searchBox .close-icon{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    margin-top: 22px;
    cursor: pointer;
    background: url(../img/close-icon.png) no-repeat 0 0;
    background-size: 100% 100%;
}

.header .searchBox .searchIcon{
    width: 17px;
    height: 17px;
    background: url(../img/search-icon.png) no-repeat 0 0;
    background-size: 17px 17px;
    background-position: 0 0;
    display: inline-block;
}

.header .searchBox input{
    width: 400px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
    border: 0;
    outline: 0;
}

.header .searchBox .tagBox{
    width: 300px;
    text-align: right;
    display: inline;
    margin-right: 50px;
    float: right;
}

.header .searchBox .tagBox a{
    font-size: 12px;
    color: #808080;
    background-color: #f5f5f5;
    padding: 3px 5px;
    margin-left: 10px;
}

/*login*/

.login-box {
    float: right;
    width: 200px;
    height: 60px;
    text-align: right;
    margin-right: 10px;
}

.header .login-box span {
    height: 60px;
    width: 17px;
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
}

.header .login-box .search-icon {
    background: url(../img/search-icon.png) 0 0 no-repeat;
    background-size: 17px;
    background-position: 0;
}

.header .login-box .app-icon {
    background: url(../img/app-icon.png) 0 0 no-repeat;
    background-size: 17px;
    background-position: 0;
    position: relative;
}

.app-icon .appmenu {
    padding: 0;
}

.loginlist .appmenu {
    display: none;
    background-color: #fff;
    position: absolute;
    width: 120px;
    top: 58px;
    right: -50px;
    z-index: 1000;
}


/*.header .login-box .loginlist .appmenu .top-icon{
	display: block;
	position: absolute;
	top: -8px;
	right: 10px;
	width: 15px;
	height: 15px;
	border-top: 1px solid #ececec;
	border-left: 1px solid #ececec;
	background-color: #fff;
}*/

.loginlist:hover .appmenu {
    display: block;
}

.header .login-box .login-icon {
    background: url(../img/login-icon.png) 0 0 no-repeat;
    background-size: 17px;
    background-position: 0;
    position: relative;
}

.loginlist .appmenu dd {
    text-align: left;
    font-size: 12px;
    line-height: 35px;
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
}

.loginlist .appmenu dd a {
    color: #666;
}

.loginlist .appmenu dd a:hover {
    color: #35b588;
}

.loginlist .appmenu dd .reg-btn,
.loginlist .appmenu dd .login-btn {
    width: 45%;
    height: 35px;
    line-height: 35px;
    text-align: center !important;
    /*display: inline-block;*/
}


/*login end*/


/*正文*/


/*banner*/

.banner-wrap {
    width: 1000px;
    height: 480px;
    margin: 0 auto;
    clear: both;
}

.martop-20 {
    margin-top: 20px !important;
}

.banner {
    width: 750px;
    height: 330px;
    background-color: #f5f5f5;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    position: relative;
}


/*.banner-left-arrow,.banner-right-arrow{
	display: none;
}*/

.banner .banner-left-arrow {
    width: 50px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -40px;
    z-index: 2;
    cursor: pointer;
    background: url(../img/arrow_dd5a57d.png) no-repeat center;
    background-size: 50px 80px;
}

.banner .banner-left-arrow:hover {
    background: url(../img/arrow-hover.png) no-repeat center;
    background-size: 50px 80px;
}

.banner .banner-right-arrow {
    width: 50px;
    height: 80px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -40px;
    z-index: 2;
    cursor: pointer;
    background: url(../img/arrow_dd5a57d.png) no-repeat center;
    background-size: 50px 80px;
    transform: rotate(180deg);
}

.banner .banner-right-arrow:hover {
    background: url(../img/arrow-hover.png) no-repeat center;
    background-size: 50px 80px;
}


/*banner end*/


/*login-info*/

.login-info {
    float: left;
    width: 240px;
    height: 160px;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 26px 29px 24px;
}

.user-info {
    height: 57px;
}

.login-info img {
    width: 57px;
    height: 57px;
    float: left;
    border-radius: 50%;
    margin-right: 15px;
}

.login-info .username {
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 8px;
    overflow: hidden;
}

.login-info .userstatus {
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 10px;
}

.login-info .loginon {
    margin-right: 10px;
}

.login-info .loginon,
.login-info .reg {
    width: 83px;
    height: 32px;
    float: left;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #35b558;
    border-radius: 2px;
    color: #35b558;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

.login-info .loginon:hover,
.login-info .reg:hover {
    background-color: #35b558;
    color: #fff;
}

.content .event {
    float: left;
    width: 240px;
    height: 160px;
    margin-top: 10px;
    overflow: hidden;
}


/*login-info end*/


/*job*/

.content .job {
    float: left;
    height: 130px;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    position: relative;
}

.job .course {
    float: left;
    width: 198px;
    height: 39px;
    border: 1px solid #f0f0f0;
    border-left: 0;
    color: #555;
    text-align: center;
    padding-top: 90px;
    font-size: 12px;
    transition: color 0.5s;
}

.content .job .course:first-child {
    background: url(../img/php.png) no-repeat center 20px;
    background-size: 130px 65px;
    border-left: 1px solid #f0f0f0;
}

.content .job .course:nth-child(2) {
    background: url(../img/web.png) no-repeat center 20px;
    background-size: 130px 65px;
}

.content .job .course:nth-child(3) {
    background: url(../img/android.png) no-repeat center 20px;
    background-size: 130px 65px;
}

.content .job .course:nth-child(4) {
    background: url(../img/ios.png) no-repeat center 20px;
    background-size: 130px 65px;
}

.content .job .course:nth-child(5) {
    background: url(../img/java.png) no-repeat center 20px;
    background-size: 130px 65px;
    border-right: 0;
}

.content .job .course:hover {
    color: #35b558;
}


/*job end*/


/*school*/

.content .school {
    /*float: left;
    position: relative;*/
    width: 1000px;
    height: 270px;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.content .school ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding-left: 0px;
}

.content .school ul li {
    float: left;
    width: 233px;
    height: 100%;
    margin-right: 20px;
    border: 1px solid #e9e9e9;
    transition: box-shadow 0.5s;
}

.content .school ul li:nth-child(4) {
    margin-right: 0;
}

.content .school ul li a {
    display: block;
    height: 100%;
}

.content .school ul li img {
    width: 100%;
    height: 155px;
}

.content .school ul li .schoolcontainer {
    padding: 14px;
    height: 113px;
    position: relative;
    background-color: #fff;
}

.content .school ul li .schoolcontainer .schooltittle {
    width: 100%;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    font-size: 12px;
    color: #555;
    margin: 0;
}

.content .school ul li .schoolcontainer .schoolinfo {
    margin-top: 6px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
}

.content .school ul li .schoolcontainer .schoolprice {
    float: left;
    font-size: 18px;
    color: #ff5c00;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 8px;
}

.content .school ul li .schoolcontainer .schoolfullprice {
    float: left;
    font-size: 12px;
    color: #999;
    margin-top: 14px;
    text-decoration: line-through;
    vertical-align: bottom;
}

.content .school ul li .schoolcontainer .schoolnum {
    display: inline-block;
    height: 14px;
    position: absolute;
    bottom: 30px;
    right: 14px;
    color: #999;
    font-size: 12px;
}


/*school end*/


/*college*/

.college {
    width: 1000px;
    margin: 0 auto;
    height: 310px;
    margin-bottom: 40px;
    /*float: left;*/
    position: relative;
}

.college h2 {
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.college ul {
    width: 100%;
    height: 100%;
    padding-left: 0;
    list-style: none;
}

.college ul li {
    float: left;
    background-color: #ccc;
    width: 240px;
    height: 130px;
    margin-left: 10px;
    position: relative;
}

.college ul li:last-child a {
    cursor: default
}

.college ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.college ul li i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.8s;
}

.college ul li img {
    width: 240px;
    height: 130px;
    display: inline-block;
}

.college ul li span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 88px;
}

.college ul li:nth-child(2) {
    margin-bottom: 10px;
}

.college ul li:nth-child(3) {
    margin-bottom: 10px;
}

.college ul .web {
    width: 500px;
    height: 270px;
    margin-left: 0;
}

.college ul .web img {
    display: inline-block;
    width: 500px;
    height: 270px;
}

.college ul .web span {
    padding-top: 180px;
    font-size: 20px;
    background: url(../img/cweb_2d70d0b.png) no-repeat center 70px;
    background-size: 55px 84px;
}
.college ul .python span{
    background: url(../img/cpython.png) no-repeat center 31px;
    background-size: 36px 36px
}
.college ul .go span{
    background: url(../img/cgo.png) no-repeat center 33px;
    background-size: 36px 29px
}
.college ul .ios span{
    background: url(../img/cios.png) no-repeat center 36px;
    background-size: 32px 36px
}
.college ul .more span{
    background: url(../img/cmore.png) no-repeat center 36px;
    background-size: 36px 36px
}
/*college end*/
/*vip*/
.content .vip{
    width: 1000px;
    height: 420px;
    margin: 0 auto;
    margin-bottom: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content .vip h2{
    font-size: 18px;
    color: #555;
    height: 18px;
    line-height: 18px;
    margin-bottom: 22px;
}
.content .vip ul{
    width: 100%;
    height: 310px;
    padding-left: 0;
}
.content .vip ul li{
    list-style: none;
    float: left;
    width: 156px;
    height: 150px;
    border:1px solid #e9e9e9;
    background-color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    transition:box-shadow 0.5s;
}
.content .vip ul li:hover{
    box-shadow: 2px 2px 10px #888888;
}
.content .vip ul li:nth-child(6){
    margin-right: 0;
}
.content .vip ul li:nth-child(12){
    margin-right: 0;
}
.content .vip ul li a{
    height: 100%;
    text-align: center;
    display: block;
}
.content .vip ul li a img{
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-top: 25px;
}
.content .vip ul li a p{
    font-size: 12px;
    color: #555;
    height: 22px;
    line-height: 22px;
}
.content .vip ul li a span{
    display: block;
    font-size: 12px;
    color: #35b558;
    height: 22px;
    line-height: 22px;
}
/*vip end*/
/*footer*/
.footer{
    min-width: 1000px;
    background-color: #fff;
    margin-top: 50px;
    border-top: 1px solid #e4e4e4;
}
.footer div,
.footer p,
.footer dd,
.footer dl,
.footer dt {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif
}
.footer .footer-info-wrap{
    background-color: #fff;
}
.footer .footer-info-wrap .footer-info{
    position: relative;
    width: 1000px;
    height: 215px;
    margin: 0 auto;
    padding-left: 224px;
    padding-top: 25px;
    border-bottom: 1px solid #f5f5f5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer .footer-info-wrap .footer-info .footer-logo{
    position: absolute;
    left: 0;
    top: 25px;
    display: inline-block;
    width: 160px;
}
.footer .footer-info-wrap .footer-info .footer-logo img{
    width: 109px;
    height: 40px;
    display: block;
}
.footer .footer-info-wrap .footer-info .footer-logo p{
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}
.footer .footer-info-wrap .footer-info dl{
    width: 135px;
    color: #808080;
    float: left;
}
.footer .footer-info-wrap .footer-info dl dt{
    font-size: 14px;
    line-height: 30px;
}
.footer .footer-info-wrap .footer-info dl dd{
    font-size: 12px;
    line-height: 30px;
}
.footer .footer-info-wrap .footer-info dl dd a{
    color: #999999;
}
.footer .footer-info-wrap .footer-info .contract{
    position: absolute;
    right: 0;
    top: 25px;
    width: 175px;
    text-align: left;
}
.footer .footer-info-wrap .footer-info .contract p{
    color: #808080;
    font-size: 14px;
    margin-bottom: 20px;
}
.footer .footer-info-wrap .footer-info .contract .downCon{
    position: relative;
    display: inline-block;
    width: 140px;
    height: 30px;
    border:1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 30px;
    color: #808080;
    font-size: 13px;
    padding-left: 40px;
    cursor: pointer;
}
.footer .footer-info-wrap .footer-info .contract .down-ios{
    background: url(../img/icon-down-ios.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.footer .footer-info-wrap .footer-info .contract .down-and{
    background: url(../img/icon-down-and.png) no-repeat 0 0;
    background-size: 30px 30px;
}
.footer .footer-info-wrap .footer-info .contract .downCon img{
    display: none;
    width: 115px;
    height: 153px;
    position: absolute;
    top: -157px;
    left: 12px;
    z-index: 2;
}
.footer .footer-info-wrap .footer-info .contract .downCon:hover img{
    display: block; 
}
/*footer end*/
/*copyright*/
.footer .copyright{
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    padding: 15px 0;
}
/*copyright end*/