.lsideSet {
  height: 50px;
  text-align: center;
}
body {
  font-family: "微软雅黑";
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 700px;
  height: 300px;
  background-color: #66CD00;
  margin-top: -150px;
  margin-left: -350px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #eee;
}
.header {
  height: 100px;
  background-color: #fff;
  text-align: center;
  line-height: 100px;
}
.header span {
  font-size: 50px;
  color: #006400;
  font-weight: 600;
}
.content {
  height: 200px;
}
.lside {
  background-color: #2F4F4F;
  width: 150px;
  height: 200px;
  float: left;
}
.lside .num {
  height: 50px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  line-height: 50px;
}
.lside .next {
  height: 50px;
  text-align: center;
  color: #ff0000;
  line-height: 50px;
  font-weight: 800;
  font-size: 25px;
}
.lside .time {
  height: 50px;
  text-align: center;
  color: #66CD00;
  font-size: 20px;
}
.lside .forward {
  height: 50px;
  text-align: center;
  color: #66CD00;
  font-size: 20px;
  line-height: 50px;
}
.mainer {
  float: left;
}
.mainer .stops {
  float: left;
  width: 22px;
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
  color: #2F4F4F;
}
.mainer .arrow {
  clear: both;
}
.mainer .arrow .trangle {
  float: right;
  width: 0;
  height: 0;
  border-width: 10px 20px;
  border-style: solid;
  border-color: transparent transparent #ff0000 #ff0000;
  margin-right: 45px;
  margin-top: 20px;
}
.mainer .arrow .line {
  float: right;
  width: 400px;
  height: 1px;
  background-color: #ff0000;
  overflow: hidden;
  margin-top: 39px;
}
